name: Homebrew

on:
  release:
    types: [published]

jobs:
  homebrew-releaser:
    name: Update Homebrew Formula
    runs-on: ubuntu-latest
    steps:
    - name: Update Homebrew formula
      uses: Justintime50/homebrew-releaser@v1
      with:
        homebrew_owner: evandde
        homebrew_tap: homebrew-tap
        formula_folder: Formula
        github_token: ${{ secrets.HOMEBREW_TAP_TOKEN }}
        commit_owner: evandde
        commit_email: evandde@users.noreply.github.com
        install: 'bin.install "G4Starter_mac" => "g4starter"'
        target_darwin_amd64: true
        target_darwin_arm64: true
        update_readme_table: false
