name: WinGet

on:
  release:
    types: [published]

jobs:
  winget-releaser:
    name: Publish to WinGet
    runs-on: windows-latest
    steps:
    - uses: vedantmgoyal9/winget-releaser@v2
      with:
        identifier: evandde.G4Starter
        installers-regex: '\.exe$'
        token: ${{ secrets.WINGET_TOKEN }}
